<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="path" value="C:\Users\user\Desktop\scr"/>
    <add key="encoding" value="Windows-1250"/>
  </appSettings>
  <connectionStrings>
    <add name="GoPartyDb" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=GoPartyDb;Integrated Security=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>