<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="Logs\nlog-app.log">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <extensions>
    <add assembly="NLog.Extended"/>
  </extensions>
  <targets async="true">
    <target name="database" xsi:type="Database" keepConnection="true" useTransactions="true"
            connectionStringName="LogsDb"
            commandText="INSERT INTO Logs(ErrorTime, Level, Message, Username, ExceptionType, StackTrace) VALUES (@ErrorTime, @Level, @Message, @Username, @ExceptionType, @StackTrace)">
      <parameter name="@ErrorTime" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Username" layout="${aspnet-user-identity}" />
      <parameter name="@ExceptionType" layout="${exception:format=ShortType}" />
      <parameter name="@StackTrace" layout="${exception:format=StackTrace}" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="database">
    </logger>
  </rules>
</nlog>